.background{
    position:fixed;
    top:0;
    left:0;
    width:40%;
    height:20%; 
    background:#e6dace; 
}

.page_content {
    min-height: 85vh;
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: space-between;
    background-color: #e8e6e6;
    margin-bottom:10vh;
  }

.right_side {
    position: relative;
    padding: 20px;
    padding-top:50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 45%;
    margin-right: 10%;
    margin-top: 10px;
}

.card {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 400px;
    height: 500px;
    flex: 1;
    padding: 20px;
    background: linear-gradient(to bottom, #f4ece6 90%, white 90%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.card .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.right_side h1 {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    font-weight: bold;
}

.right_side h2 {
    font-size: 1.5rem;
}

.right_side p {
    font-size: 1rem;
}

.cardphoto img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 15px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin: 15px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077b6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #005b8a;
}