@media (max-width:1200px) {


    .header_text h1 {
        font-size: 2rem;
    }

    nav {
        justify-content: flex-start;
    }

    .logo {
        margin-right: auto;
    }

    nav .initvis {
        display: block;
    }

    nav .nav_ico {
        text-decoration: none;
        font-size: 25px;
        padding: 0px 15px;
    }

    .nav_ico:hover {
        font-size: 30px;
    }

    nav ul {
        position: fixed;
        top: 7.5vh;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 10px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    #sidemenu .logo {
        display: none;
    }

    nav ul .nav_ico {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font: size 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;

    }

    #contact a {
        font-size: 16px;
    }

    .social_media i {
        font-size: 20px;
    }

    .social_media i:hover {
        font-size: 25px;
    }

    #portfolio .container {
        background-color: var(--Background);
        justify-content: center;
        padding: 7.5vh 2.5vw;
    }

    .options {
        padding: 7.5vh 0px;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        width: calc(100% - 50px);
        min-height: 100vh;


        .option {
            position: relative;
            overflow: hidden;
            width: 80vw;
            min-height: 80px;
            margin: 10px;

            background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
            background-position: center;

            cursor: pointer;

            transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);


            &.active {
                flex-grow: 10000;
                transform: scale(1);

                max-width: 600px;
                margin: 0px;
                border-radius: 40px;

                .shadow {

                    height: 100%;

                    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                }

                .label {
                    top: 50%;
                    left: 20px;

                    .info>div {
                        left: 0px;
                        right: 15px;
                        bottom: 20px;
                        opacity: 1;
                        color: white;
                        white-space: normal;
                    }
                }


            }
        }

    }
}