html{
    scroll-behavior: smooth;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.nav_ico{
    display: none;
}

body{
    background: #000000;
    color: #DFEAF6;
}
#header{
    width:100%;
    height: 100vh;
    background-image: url("./images/background.png");
    background-position: center;
    background-size: cover;
}
.container{
    padding: 10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:#DFEAF6;
    text-decoration:none;
    font-size: 1.5rem;
    position:relative;
}

nav ul li a:hover{
    font-size: 1.75rem;
}

nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #98B9E3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}

nav ul li a:hover::after{
    content:'';
    width: 100%;
    height: 3px;
    background: #C838A8;
    position: absolute;
    left: 0;
    bottom: -6px;
}

.header_text{
    margin-left:5%;
    margin-top:20%;
    font-size:30px;

}
.header_text h1{
    font-size: 50px;
    margin-top:20px;
    color:#DFEAF6;
}

.header_text h1 span{
    color:#C838A8;
}


#about{
    padding:28vh 0px;
    color: #DFEAF6;
    }
    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .about-col-1{
        flex-basis: 35%;
    }
    .about-col-1 img{
        width: 100px;
        border-radius: 15px;
    }
    .about-col-2{
        flex-basis: 60%;
    
    }
    .sub-title{
        font-size:5rem;
        font-weight: 600;
        color: #DFEAF6;
    }
    .tab-titles{
        display: flex;
        margin:20px 0px 40px;
    
    }
    .tab-links{
        margin-right:50px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
    }
    
.tab-links::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #98B9E3;
    position: absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    content:'';
    width: 50%;
    height: 3px;
    background: #98B9E3;
    position: absolute;
    left:0;
    bottom:-8px;
}

.tab-contents ul li{
    list-style: none;
    margin:10px 0;
}

.tab-contents ul li span{
    color: #C838A8;
    font-size:14px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}


#know{
    padding:28vh 0;
    margin-bottom: 25vh;

}
.skills-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.skills-list div{
    background: #98B9E3;
    padding:40px;
    font-size: 13px;
    font-weight:100;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.skills-list i{
    font-size: 30px;
    padding:30px;
}

.skills-list h2{
font-size:30px;
font-weight: 500;
margin-bottom:15px;
}

.skills-list p{
    font-size:15px;
    font-weight: 500;
    margin-bottom:20px;
    }
    

.skills-list div:hover{
    background: #98B9E3;
    transform:translateY(-10px);
}


#portfolio{
    padding: 50px 0;
    }
    
    .work-list{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    
    .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    .work img{
        width:100%;
        border-radius:10px;
        transition: transform 0.5s;
    }
    
    .layer{
        width:100%;
        height: 0%;
        background: linear-gradient(rgba(0,0,0,0.6),#98B9E3);
        position: absolute;
        left:0;
        bottom:0;
        overflow: hidden; 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size:14px;
        transition: height0.5s;
    }
    
    .layer h3{
        font-weight: 500;
        margin-bottom:20px;
    
    }
    .layer a{
        margin-top: 20px;
        color:#C838A8;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width:60px;
        height:60px;
        border-radius: 50%;
        text-align: center;
    }
    
    .work:hover img{
        transform: scale(1.1);
    }
    
    .work:hover .layer{
    height:100%;
    }
    
    .btn{
        display:block;
        margin:50px auto;
        width: fit-content;
        border: 1px solid #C838A8;
        padding: 14px 50px;
        border-radius: 6px;
        text-decoration: none;
        color: #fff;
    }
    
    .btn:hover{
        background:#98B9E3;
    
    }

#contact{
    padding:20px 0px;
    background-color: #262626;
}

#contact p{
padding: 5px;
padding-left: 20px;
}

#contact a{
    padding:5px;
    padding-left: 20px;
    text-decoration: none;
    color:#DFEAF6;
    font-size: 20px;
}

.contact-right{
    padding:10px 20px;
}
.social_media i{
font-size:30px;
padding:0px 10px;
}

.social_media i:hover{
font-size: 35px;
}