.row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    width: 95%;
    min-height: 30vh;
    margin-bottom: 50px;
    color:var(--Text);
  }
  
  .about_col_1 {
    flex-basis: 35%;
  }
  
  .about_col_1 img {
    width: 100%;
    border-radius: 15px;
    max-width: 400px;
  }
  
  .about_col_2 {
    flex-basis: 60%;
  }
  
  .sub_title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--Text);
    margin-bottom: 20px;
  }
  
  .tab_titles {
    display: flex;
    margin: 20px 0 40px;
  }
  
  .tab_links {
    margin-right: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: var(--Text);
    transition: color 0.3s ease;
  }
  
  .tab_links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--Accent);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: width 0.5s ease;
  }
  
  .tab_links:hover::after,
  .tab_links.active_link::after {
    width: 50%;
  }
  
  .tab_links.active_link {
    color: var(--Primary);
  }
  
  .tab_contents ul {
    padding: 0;
    margin:10px 0px;
  }
  
  .tab_contents ul li {
    list-style: none;
    margin: 10px 0;
  }
  
  .tab_contents ul li span {
    color: var(--Secondary);
    font-size: 1rem;
    font-weight: 600;
  }
  
  .tab_contents {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .tab_contents.active_tab {
    display: block;
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  
    .about_col_1, .about_col_2 {
      flex-basis: 100%;
    }
  
    .about_col_1 {
      margin-bottom: 30px;
    }
  
    .sub_title {
      font-size: 2.5rem;
    }
  
    .tab_links {
      margin-right: 20px;
      font-size: 16px;
    }
  }
  