.container {
  margin-top: 5vh;
  width: 95%;
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  position: relative; /* Ensure relative positioning */
}

  .header_text {
    font-size: 3.5rem;
    flex-basis: 35%;
    margin: 25vh 0px;
    color: var(--Text);
  }
  .right{
    margin-top: 50px;
  }
  .text_bottom {
    font-weight: 200;
    font-size: 0.75rem;
    margin: 10px;
    color:var(--Text);
  }


@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .header_text {
      font-size: 2rem;
    }
  }